* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #14320f, #434a42);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 90%;
  position: relative; /* necessário */
  overflow-x: hidden; /* impede vazamento lateral */
  overflow-y: auto;   /* mantém rolagem vertical normal */
}

header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 12px;
  color: white;
}

.logo{
  display: flex;
  align-items: center; /* título e imagem na mesma linha */
}
img{
    width: 40px; /* tamanho da imagem */
}

.logo h1 {
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: 17px;

}
/*  O uso do body:: before permite manter o texto e elementos totalmente visíveis 
e alterar a opacidade apenas da imagem de fundo sem atingir totalmente o body */
body::before {
  /* Content: ""  cria um conteúdo “vazio”, permitindo que o pseudo-elemento exista visualmente
  no navegador. Sem essa linha, o ::before ou ::after nem aparece na tela. */
  content: ""; 
  position: absolute;
  inset: 0; /* cobre toda a tela */
  background-image: url('image/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.67; /* aqui você define a transparência */
  z-index: -1; /* mantém a imagem atrás do conteúdo */
}
  
  main {
    flex: 1; /* ocupa o espaço disponível */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background-color: #fffdff;
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    width: 70%;
    height: 90%;
    max-width: 500px;
    margin-top: 2px;
  }
  
  .container h2 {
    text-align: center;
    color: #0f2214;
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 3px;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 15px;
    color: #585757;
  }

  fieldset {
  margin-bottom: 17px;
  border: 1px solid #ccc;
  padding: 11px;
  border-radius: 8px;
}
.radio-group,
.checkbox-socio {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
}

  input[type="text"], 
  select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
    transition: 0.3s;
  }
legend{
     font-size: 15px;
     font-weight: bold;
     color: #0f2214;
}
.timecor{
    font-size: 15px;
     font-weight: bold;
     color: #0f2214;

}
button{
    background-color: #4f7125;
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    width: 60%;
    cursor: pointer;
    transition: 0.2s;
    margin: 5px auto; /* centraliza horizontalmente */
    display: block; /* necessário para margin:auto funcionar */

}
button:hover{
     background-color:  #0f2214;;
}

.btnLimpar {
  background-color: #9b0f0f;
}
.btnLimpar:hover {
  background-color: #cd1919;
}
footer {
    background-color: #4d7f24;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    width: 100%;
  }
